*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #f7f7f7;
    --text-color: whitesmoke;
    --main-color: #005391;
    --big-font: 5rem;
    --p-font: 1.1rem;
    --mid-font: 2.5rem;
}

.dropbtn{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding: 0; 
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #4C516D; /* #4C516D */
    min-width: 250px; /* change this to 160 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}

.dropdown-content a{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    min-width: 100px;
    margin: 0;
}

.dropdown-content a:hover {background-color: #005391; color: whitesmoke;}


.dropdown:hover .dropdown-content {display: block;}

.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15%;
    transition: all ease .45s;
    background-color: rgba(33, 33, 38, 0.5);
    --text-color: white;
}

.active{
    background-color: #24262b;
}

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}


.navigationbar{
    display: flex;
}

.navigationbar ul{
    display: flex;
}

.navigationbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navigationbar a:hover{
    color: var(--main-color);
}

.search-btn{
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    padding-top: 105px; /* Adding padding to the top of the body to account for the header height */
    --text-color: black;
    background: linear-gradient(-180deg, #037aa0 20%, #00335b 80%);
}

.home {
    position: relative;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-text {
    text-align: center;
}

.home-text h1,
.home-text p {
    position: absolute;
    color: black;
    font-weight: 100;
}

.home-text p {
    top: 50%; /* Adjust the percentage based on your preference */
    left: 18%;
    font-size: 45px;
    transform: translate(-50%, -50%);
}

.home .homeimg{
    width: 300%;
    height: 300%;
    background-color: whitesmoke;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.toc{
    width: 25%;
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    text-align: left;
    color: black;
    float: left;
}

.toc h2{
    font-size: 16px;
    line-height: 1em;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    margin-top: 1em;
}

.toc li{
    line-height: 1.5em;
    padding-left: 20px;
    display: inline-block;
    color: black;
    padding-bottom: 5px;
}

.toc a{
    color: #727678;
}

.toc a:hover{
    color: #00467f;
}

.box{
    width: 55%;
    background-color: white;
    margin: 20px 30%;
    padding: 45px;
    text-align: center;
    text-align: left;
}

.box h2{
    letter-spacing: -.25px;
    text-transform: none;
    font-weight: normal;
    font-size: 1.75em;
    line-height: 1.1em;
    margin-bottom: 10px;
    color: #00467f;
}

.box p{
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: black;
}


.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
}



.footer-col h4{
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    /*width here */
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}




.footer-col a:hover{
    color: #35ad85;
    padding-left: 8px;
}

.footer{
    background-color: #24262b;
    padding: 25px 15%;
    overflow: hidden;
    width: 100%;
}

.footer-col .social-links li{
    float: left;
    padding: 0x;
    margin: 0px 10px 10px 0px;
    list-style: none;
 }