
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #f7f7f7;
    --text-color: whitesmoke;
    --main-color: #005391;
    --big-font: 5rem;
    --p-font: 1.1rem;
    --mid-font: 2.5rem;
}

.header {
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15%;
    transition: all ease .45s;
    background-color: rgba(33, 33, 38, 0.5);
    --text-color: white;
}

.active {
    background-color: #24262b;
  }

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navigationbar{
    display: flex;

}

.navigationbar ul{
    display: flex;
}

.navigationbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navigationbar a:hover{
    color: var(--main-color);
}

.search-btn{
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}



body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    padding-top: 105px; /* Adding padding to the top of the body to account for the header height */
    --text-color: black;
}

section{
    padding: 0 15%;
}

.fisheriesBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 270px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 13px;
    border-color: transparent;
    padding: 10px 17px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 542px;
    top: 665px;
    z-index: 12;
}

.envBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 270px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 13px;
    border-color: transparent;
    padding: 10px 17px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 807px;
    top: 665px;
    z-index: 13;
}

.researchBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 270px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 13px;
    border-color: transparent;
    padding: 10px 17px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 1073px;
    top: 665px;
    z-index: 14 ;
}

.dropbtn{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding: 0; 
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #4C516D; /* #4C516D */
    min-width: 250px; /* change this to 160 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}

.dropdown-content a{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    min-width: 100px;
    margin: 0;
}

.dropdown-content a:hover {background-color: #005391; color: whitesmoke;}


.dropdown:hover .dropdown-content {display: block;}

.careershome{
    position: relative;
    width: 100%;
    height:75vh; /*prev 100 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-size: cover;
    background-image: url('images/bground4.png');
}
.careersmidbar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin-left: -220px;*/
}


.home{
    position: relative;
    width: 100%;
    height:75vh; /*prev 100 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-size: cover;
    animation: change-bg 20s steps(10, jump-none) forwards infinite;
}

.home2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home2-text{
    text-align: center;

}

.home2-text h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.home2-text h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@keyframes change-bg{
    0%, 100% { background-image: url('images/bground.png');}
    20% { background-image: url('images/bground2.png');}
    40% { background-image: url('images/bground3.png');}
    60% { background-image: url('images/bground4.png');}
}


.home-text h1{
    font-size: var(--big-font);
    margin: 23px 0;
    color: whitesmoke
}

.home-text p{
    font-size: var(--mid-font);
    font-weight: 400;
    color: whitesmoke;
    line-height: 30px;
    mask-border: 50px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: transparent;
    color: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s rase-in-out;
}

.hiring-btn{
    background-color: #06538c;
    max-width: 250px;
    margin: auto;
    padding: 20px 0px 6px 0px;
    margin-top: 0.67em;
    border-radius: 3px;
    max-height: 70px;
}

.midbar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hiring-btn h3 {
    text-align: center;
    margin: 0px;
}

.hiring-btn h3 a{
    line-height: 19px;
    font-size: 16px;
    color: white;
    letter-spacing: 0px;
}

.hiring-btn p a {
text-decoration: underline;
color: black;
font-size: 12px;
}


.column {
    float: left;
    width: 75%;
    padding: 10px;
    margin-left: 0;
    box-sizing: inherit;
    display: block;
    min-height: 1px;
}



.column ul{
    font-size: .8125rem;
    line-height: 1.0625rem;
    margin: 1em 0;
    padding-left: 2.5em;
    box-sizing: inherit;
}

.sidecolumn ul{
    font-size: .8125rem;
    line-height: 1.0625rem;
    box-sizing: inherit;
}

.careersmidbar-text ul{
    font-size: 1.125rem;
    line-height: 1.0625rem;
    box-sizing: inherit;
}

.careersmidbar-text li{
    line-height: 20px;
    font-family: inherit;
    font-size: 1.125rem;
    box-sizing: inherit;
    list-style: inside;
}

.column li{
    line-height: 20px;
    font-family: inherit;
    font-size: .8125rem;
    margin: 0 0 5px 0;
    box-sizing: inherit;
    list-style: inside;
}

.sidecolumn li{
    line-height: 20px;
    font-family: inherit;
    font-size: .8125rem;
    box-sizing: inherit;
    list-style: inside;
}


/*careers section*/
.column .title{
    line-height: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: black;
    font-size: 1.375rem;
    background-color: #e4e4e4;
    padding: 7px 10px;
    font-family: 'PT Sans', sans-serif;

}

.column .title h3 {
    line-height: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    page-break-after: avoid;
    font-size: 1.375rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.sidecolumn .title h3{
    line-height: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    page-break-after: avoid;
    font-size: 1.375rem;
    overflow: hidden;
}






.maincolumn{
    margin: 0 auto;
    max-width: 1198px;
    padding: 0;
}

.sidecolumn .sidesection6 u{
    text-decoration: underline;
}

.careersmidbar-text u {
    text-decoration: underline;
}

.footer-col .social-links li{
    float: left;
    padding: 0x;
    margin: 0px 10px 10px 0px;
 }



.sidecolumn .title{
    line-height: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: black;
    font-size: 1.375rem;
    background-color: #e4e4e4;
    padding: 7px 10px;
    font-family: sans-serif;
    box-sizing: inherit;
    margin-top: 9px;
}
.sidecolumn{
    position: relative;
    overflow: auto;
    margin-top: 1px !important;
    float: left;
    display: block;
    box-sizing: inherit;
    line-height: 1.4;
}
.sidecolumn .sidesection1{
    position: relative;
    overflow: auto;
    box-sizing: inherit;
}




.column h1, h2, h5, h6{
    margin: 0 0 10px 0;
    overflow: hidden;
}

.sidecolumn h1, h2, h5, h6{
    margin: 0 0 10px 0;
    overflow: hidden;
}

.maincolumn h4{
    color: #524f4f;
    font-size: 1.125rem;
    overflow: hidden;
    margin: 0 0 10px 0;
    text-rendering: optimizeLegibility;
    page-break-after: avoid;
}

.column h4{
    color: #524f4f;
    font-size: 1.125rem;
    overflow: hidden;
    margin: 0 0 10px 0;
    text-rendering: optimizeLegibility;
    page-break-after: avoid;
}


.sidecolumn h4{
    color: #524f4f;
    font-size: 1.125rem;
    margin: 0 0 10px 0;
}

.sidecolumn {
    margin-left: 0;
    width: 25%;
    padding: 0.5px;
    box-sizing: inherit;
    padding-top: 0px;
    line-height: 1.4;
    display: block;
    float: left;
    min-height: 1px;
}
.maincolumn{
    padding: 10px;
}


.column p{
    font-family: inherit;
    font-size: .8125rem;
    margin: 0 0 10px 0;
    line-height: 20px;
    overflow: hidden;
}

.sidecolumn p{
    font-family: inherit;
    font-size: .8125rem;
    margin: 0 0 10px 0;
    line-height: 20px;
    color: #524f4f;
    overflow: hidden;
    box-sizing: inherit;
}

.sidecolumn .sidesection3, .sidesection4 img{
    float: none;
    margin: 0;
    vertical-align: middle;
    border: none;
    box-sizing: inherit;
}

.sidecolumn iframe{
    float: none;
    margin: 0;
    border: none;   
}

.sidecolumn .sidesection1 strong, h3{
    margin: 0 0 10px 0;
    overflow: hidden;
    font-size: 1.125rem;
}

.sidecolumn .sidesection2 strong{
    line-height: 20px;
    font-size: .8125rem;
    font-family: inherit;
}

.column strong{
    font-weight: bold;
    color: #524f4f;
}

/*
.column img {
    max-width: 100%;
    height: 0;
    border: 0;
    vertical-align: middle;
    padding-right: 10px;
}
*/

.column img{
    padding-right: 10px;
    padding-bottom: 5px;
}

.section3content img{
    display: block;
    float: right;
    margin: 0 0 10px 10px;
    max-width: 60%;
}

.section4content img{
    display: block;
    float: right;
    margin: 0 0 10px 10px;
    padding: 0 0 10px 10px;
    max-width: 60%;
}


/*other */


.sidecolumn:after {
    content: "";
    display: table;
    clear: both;
}





.btn:hover{
    transform: translateY(-5px);
    background: black;
    color: white;
}


.careersmidbar-text h1{
    text-align: left;
    font-size: 28px;
    color: black;
    margin-bottom: 0.67em;
    margin-top: 0.67em;
}

.careersmidbar-text p{
    font-size: 1.125rem;
    line-height: 1.4em;
    letter-spacing: -0.0125em;
    text-align: left;
    color: #333333;
    font-weight: lighter;
}
.midbar-text h1{
    text-align: center;
    font-size: 28px;
    color: black;
    margin-bottom: 0.67em;
    margin-top: 0.67em;
}

.midbar-text p {
    font-size: 22px;
    line-height: 1.4em;
    letter-spacing: -0.0125em;
    text-align: center;
    color: #333333;
    font-weight: lighter;
}


.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
}



.footer-col h4{
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    /*width here */
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}




.footer-col a:hover{
    color: #35ad85;
    padding-left: 8px;
}

.footer{
    background-color: #24262b;
    padding: 25px 15%;
    overflow: hidden;
    width: 100%;
}

.footer-col .social-links li{
    float: left;
    padding: 0x;
    margin: 0px 10px 10px 0px;
    list-style: none;
 }