
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --bg-color: #f7f7f7;
    --text-color: whitesmoke;
    --main-color: #35ad85;
    --big-font: 5rem;
    --p-font: 1.1rem;
    --mid-font: 2.5rem;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15%;
    transition: all ease .45s;
    background-color: rgba(33, 33, 38, 0.5);
    --text-color: white;
}

.active {
    background-color: #24262b;
  }

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navigationbar{
    display: flex;
}

.navigationbar ul{
    display: flex;
}

.navigationbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navigationbar a:hover{
    color: var(--main-color);
}

.search-btn{
    padding: 8px 15px; /*10px 20px orig*/
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}



.dropbtn{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding: 0; 
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #4C516D; /* #4C516D */
    min-width: 250px; /* change this to 160 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}

.dropdown-content a{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    min-width: 100px;
    margin: 0;
}

.dropdown-content a:hover {background-color: #35ad85; color: whitesmoke;}


.dropdown:hover .dropdown-content {display: block;}





body{
    background: var(--bg-color);
    color: black;
    overflow-x: hidden;
    padding-top: 150px; /* Adding padding to the top of the body to account for the header height */
}

section{
    padding: 0 15%;
}

.fisheriesBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 330px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 15px;
    border-color: transparent;
    padding: 10px 17px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 450px;
    top: 507px;
    z-index: 600;
    height: 45px;
}

.fisheriesBtn button:hover{
    background-color: #005391;
}

.envBtn button:hover{
    background-color: #005391;
}

.researchBtn button:hover{
    background-color: #005391;
}

.electBtn button:hover{
    background-color: #005391;
}

.envBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 270px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 15px;
    border-color: transparent;
    padding: 10px 17px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 780px;
    top: 507px;
    z-index: 13;
    height: 45px;
}

.researchBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 250px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 15px;
    border-color: transparent;
    padding: 10px 16px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 1000px;
    top: 507px;
    z-index: 16;    
    height: 45px;
}

.electBtn button{
    background-color: black;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    white-space: nowrap;
    width: 250px;
    height: 54px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 15px;
    border-color: transparent;
    padding: 10px 17px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 1200px;
    top: 507px;
    z-index: 14 ;
    height: 45px;
}

.home{
    position: relative;
    width: 100%;
    height:75vh; /*prev 100 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-size: cover;
    /*animation: change-bg 20s steps(10, jump-none) forwards infinite;*/
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: 200%;
    }
    
}

/*@media (min-aspect-ratio: 4/3){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}*/

/*@keyframes change-bg{
    0%, 100% { background-image: url('images/bground.png');}
    20% { background-image: url('images/bground2.png');}
    40% { background-image: url('images/bground3.png');}
    60% { background-image: url('images/bground4.png');}
}*/


.home-text h1{
    position: relative;
    bottom: -20px;
    left: 0px;
    font-size: var(--big-font);
    margin: 23px 0;
    color: rgb(251, 249, 249)
}

.home-text p{
    font-size: var(--mid-font);
    font-weight: 400;
    color: whitesmoke;
    line-height: 30px;
    mask-border: 50px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: transparent;
    color: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s rase-in-out;
}

.hiring-btn{
    background-color:#005391;
	/*background-image: url("/wp-content/uploads/2020/08/homehirebtn.png");*/
	max-width: 300px;
	background-size: 35%;
	background-repeat: no-repeat;
	background-position: right top;
	border-radius: 3px;
	padding: 6px 0px 2px 2px;
	margin: auto;
	margin-top:20px;
    height: 59px;
}

.midbar{
    margin-left: auto;
    margin-right: auto;
    margin-top: -210px;
    margin-bottom: 50px;

}

.hiring-btn h3 {
    text-align: center;
    margin: 0px;
}

.hiring-btn h3 a{
    line-height: 19px;
    font-size: 18px;
    color: white;
    letter-spacing: 0px;
}

.hiring-btn p a {
text-decoration: underline;
color: rgb(249, 245, 245);
font-size: 14px;
}


.column {
    float: left;
    width: 70%;
    padding: 10px;
    margin-left: 0;
    box-sizing: inherit;
    display: block;
    min-height: 1px;
}

/*careers section*/
.column .title{
    line-height: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: black;
    font-size: 1.375rem;
    background-color: lightgray;
    padding: 7px 10px;
    font-family: sans-serif;
}

.sidecolumn .title{
    line-height: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: black;
    font-size: 1.3rem;
    background-color: lightgray;
    padding: 7px 10px;
    font-family: sans-serif;
    margin-left: 1330px;
}



.column h1, h2, h5, h6{
    margin: 0 0 10px 0;
    overflow: hidden;
}

.sidecolumn h1, h2, h5, h6{
    margin: 0 0 10px 0;
    overflow: hidden;
}

.column h4{
    color: #524f4f;
    font-size: 1.1rem;
    margin: 0 0 10px 0;
}

.sidecolumn h4{
    color: #524f4f;
    font-size: 1.125rem;
    margin: 0 0 10px 0;
}

.sidecolumn {
    margin-top: -50px;
    padding-top: 10px;
}
.column p{
    font-family: inherit;
    font-size: .8125rem;
    margin: 0 0 10px 0;
    line-height: 20px;
    color: #524f4f;
}

.sidecolumn p{
    font-family: inherit;
    font-size: .8125rem;
    margin: 0 0 10px 0;
    line-height: 20px;
    color: #524f4f;
}

.column strong{
    font-weight: bold;
    color: #524f4f;
}

.column img {
    max-width: 100%;
    height: 0;
    border: 0;
    vertical-align: middle;
    padding-right: 10px;
}

/*other */


.sidecolumn:after {
    content: "";
    display: table;
    clear: both;
}




.btn:hover{
    transform: translateY(-5px);
    background: black;
    color: white;
}

.midbar-text h1{
    text-align: center;
    font-size: 28px;
    color: black;
    margin-bottom: 0.67em;
    margin-top: 0.67em;
}

.midbar-text p {
    font-size: 22px;
    line-height: 1.4em;
    letter-spacing: -0.0125em;
    text-align: center;
    color: #333333;
    font-weight: lighter;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    list-style: none;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    list-style: none;
}

.footer-col ul li{
    list-style: none;
}

.footer-col a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    list-style: none;
}

.footer-col a:hover{
    color: #35ad85;
    padding-left: 8px;
    list-style: none;   
}

.footer{
    background-color: #24262b;
    padding: 25px 15%;
    z-index: 1000;
    list-style: none;
}
.footer-col .social-links li{
    float: left;
    padding: 0x;
    margin: 0px 10px 10px 0px;
    list-style: none;
 }